

.footer{
    background-color: var(--navbar-color);
    color: var(--default-font-color);
    display: flex;
    justify-content: space-between; 
    padding: var(--content-margin);
}



.footer img{
    width: 130px
}

