.navbar{
    height: 64px;
    background-color: var(--navbar-color);
    color: var(--default-font-color);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: var(--content-margin);
}

.navbar-logo{
    width: 154px;
    
}

.navbar-item{
    margin: 0 20px;
    font-weight: 800;
    cursor: pointer;
    padding-top: 2px;

}

.fa-magnifying-glass{
    font-size: 25px;
    color: var(--light-blue);
    cursor: pointer;
}

.fa-house{
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 0px;
    font-size: 25px;
    color: var(--light-blue);
    cursor: pointer;
}

.en_button{
    margin: 0 20px;
    font-weight: 800;
    cursor: pointer;
    
    border: var(--default-font-border);
    padding: 3px;
    
}

.search-box-container{
    display: flex;
    align-items: center;
}

.search-box-container input{
    margin-right: 5px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

